body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Room and Food cards */
.room-cards, .food-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card input {
    margin-top: 10px;
}